
/* Reset default styles for the app */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: initial;
}

/* Keep animation related styles */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
